/* src/components/Footer/Footer.css */
.footer {
    width: 100%;
    height: 60px;
    background-color: #2e2e2f;
    color: #c6c2ce;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-top: 1px solid #424555;
    font-family: 'Poppins', sans-serif;
}

.footer span {
    color: #7df4e8;
    font-weight: bold;
}
