.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111417;
    font-family: 'Poppins', sans-serif;
}

.app-content {
    flex-grow: 1;
    width: 100%;
}
